node_modules
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Vaadin ###
src/main/bundles/
src/main/frontend/generated/
src/main/frontend/generated-flow-imports.js
src/main/frontend/generated-flow-imports.d.ts
src/main/resources/META-INF/VAADIN/
src/main/resources/META-INF/VAADIN/config/
.vaadin/
types.d.ts
vite.generated.ts
package-lock.json
pnpm-lock.yaml

### Local H2 database ###
data/

### Build output ###
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
